<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/bootstrap::head">
</head>
<body>

<div class="container">
    <div th:replace="fragments/menu::top"></div>
    <h1>Users Admin</h1>
    <a href="/users/add" class="btn btn-warning mb-3">add</a>
    <div class="row">
        <div class="col-6">
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <!--/*@thymesVar id="users" type=""*/-->
                <tr th:each="user: ${users}">
                    <td th:text="${user.id}">id</td>
                    <td th:text="${user.name}">name</td>
                    <td><button type="button" class="btn btn-primary"
                                th:onclick=" | showUserDetail(${user.id}) |">view</button></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-6">
            <div th:each="user : ${users}" th:id=" | user-${user.id} |" style="..." class="userDetails">
                <h2>User details</h2>
                <a href="@{/users/edit(userId=${user.id})}" class="btn btn-small btn-warning">edit</a>
                <a href="@{/users/delete(userId=${user.id})}" class="btn btn-small btn-warning">delete</a>
                <table>
                    <tr>
                        <td>id</td><td th:text="${user.id}">id</td>
                    </tr>
                    <tr>
                        <td>name</td><td th:text="${user.name}">name</td>
                    </tr>
                    <tr>
                        <td>Password</td><td><a href="@{/users/resetPW(userId=${user.id})}"
                    class="btn btn-small btn-warning">reset</a></td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
    <script>
        function showUserDetail(id){
            $(".userDetails").hide();
            $("#user-"+id).show();
        }
    </script>
</div>

</body>
</html>